body {
  background-color: #7ec8e3; /* sky / beach background */
  color: #003049;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.game-info {
  background-color: #ffe8a3; /* sand panel */
  color: #003049;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ddd;
}

.board {
  width: 760px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  height: 54px;
}

.row.odd {
  margin-left: 48px;
}

.hex {
  width: 90px;
  height: 52px;
  background-color: #5b5b5b;
  margin: 2px;

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.hex:hover {
  background-color: #888;
}

.hex.wall {
  background-color: #2e7d32;
  cursor: not-allowed;
}

.hex.wall:hover {
  background-color: hsl(0, 2%, 25%);
}

.hex.entrance {
  background-color: #267326;
}

.hex.exit {
  background-color: #8b2bb8;
}

.hex.possible-move {
  background-color: #64accd;
}

.hex.player {
  background-color: #460700;
}

.hex.heart {
  background-color: #d61818;
}